@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1057px;
  margin: 0 auto;
  text-align: center;
}

.navigation-list {
  padding: 10px;
  width: 464px;
  padding-left: 0px;
  padding-top: 19px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  text-align: center;
  max-width: 285px;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-list > :not(:last-child) {
  padding-right: 33px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  text-align: center;
  justify-content: flex-end;
  margin-left: auto;
  max-width: 240px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-logo {
  display: block;
  padding: 0;
  margin: auto;
}

.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.welcome-wrapper {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../img/index-background.jpg");
  width: 1200px;
  height: 485px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.welcome-sedona {
  padding-top: 51px;
}

.line {
  padding-top: 22px;
  margin: 0;
}

.welcome-text {
  padding-bottom: 79px;
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../img/background-white.jpg");
  width: 1200px;
  text-align: center
}

.welcome-title {
  margin-top: auto;
  width: 720px;
  padding: 0px 240px;
  padding-top: 63px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  }

.welcome-desc{
  width: 720px;
  padding: 0px 240px;
  padding-top: 23px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.adventures-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background: #83B3D3;
}

.adventures-list-first {
  flex-wrap: wrap;
  color: #000000;
  background-color: #FFFFFF;
  width: 250;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.adventures-list-first > :nth-child(1) {
  background: rgba(131, 179, 211, 0.12);
}

.adventures-list-first > :nth-child(2) {
  background: #FFFFFF;
}

.adventures-list-first > :nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  padding-top: 98px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description-num {
  margin: 0;
  padding: 0px 75px;
  padding-top: 25px;
}

.advantages-description-img {
  margin: 0;
  padding: 0px 90px 77px 90px;
  padding-top: 26px;

}

.icon-house {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 89px;
  padding-bottom: 0;
}

.icon-food {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 91px;
  padding-bottom: 0;
}

.icon-souvenirs {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 85px;
  padding-bottom: 0;
}

.advantages-title-desc {
  width: 250;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 23px;
}

.advantages-desc {
  margin: 0;
  width: 250px;
  padding: 75px;
  padding-top: 20px;
  padding-bottom: 79px;
}

.adventures-list-second {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.adventures-list-second > :nth-child(1) {
  background: rgba(131, 179, 211, 0.12);
}

.adventures-list-second > :nth-child(2) {
  background: rgba(131, 179, 211, 0.2);
}

.adventures-list-second > :nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-description {
  margin: 0;
  width: 250px;
  padding: 75px;
  padding-top: 25px;
  padding-bottom: 77px;
}

.hotel-title {
  padding-top: 91px;
  padding-bottom: 15px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hotel-info {
  width: 720px;
  padding-top: 15px;
  padding: 0px 240px;
  margin: 0;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  
}

.hotel-search-in-sedona {
  display: inline-block;
  margin-top: 73px;
  margin-bottom: 91px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 17px;
  border-color: #756257;
  border-radius: 10px;
  background: #756257;
  width: 541px;
  height: 34px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.newsletter{
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../img/background.jpg");
  width: 1200px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.newsletter-title {
  padding: 94px 240px 15px 240px;
  margin: 0px;
  width: 720px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.newsletter-text {
  padding: 0 240px 26px 240px;
  width: 720px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.newsletter-form {
  display: flex;
}

.newsletter-email {
  padding: 0 0 94px 200px;
  margin: 0;
}

.button-subscribe {
  display: inline-block;
  margin: 0px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  background: #83B3D3;
  width: 200px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border: none;
}

.field {
  display: inline-block;
  padding: 0;
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  text-decoration: none;
  border: none;
  border-color: #F2F2F2;
  background: #F2F2F2;
  padding: 0 19px 0 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-button {
  width: 200px;
  height: 60px;
  padding: 0 200px 61px 0;
}

.page-footer {
  width: 1057px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #000000;
  font-style: normal;
  font-weight: 700;
}

.footer-social-list {
  width: 352px;
  display: flex;
  padding-top: 54px;
  padding-bottom: 50px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.footer-social-item {
  margin-right: 30px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts-address {
  width: 352px;
  padding: 0;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  text-align: center;
}

.footer-contacts-address-phone {  
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-footer {
  width: 352px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.logo-html {
  margin-left: auto;
  width: 115px;
  padding: 0;
  margin-top: 42px;
  margin-bottom: 44px;
}

/*  Стили каталога  */

.main-inner {
  width: 1057px;
  margin: 0 auto;
}

.catalog-filters-form {
  display: flex;
  justify-content: space-between;
}

.sorting-title {
  display: flex;
  margin: 0;
}

.sorting-found-hotel {
  margin: 0;
  padding: 50px 0 45px 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}

.sorting-box {
  margin-left: auto;
}

.sorting-type {
  padding: 44px 81px 0 0;
}

.sorting-select-control {
  padding-left: 19px;
  width: 287px;
  height: 48px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.view:nth-child(3n) {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 14px 20px;
  line-height: 26px;
  font-weight: 700;
  color: #F2F2F2;
  background-color: #83B3D3;
  text-decoration: none;
  text-align: center;
}

.inner-header {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../img/catalog-background.jpg");
  width: 1200px;
  height: 408px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.inner-header-title {
  padding: 35px 601px 5px 72px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

.breadcrumbs {
  padding: 0 1016px 45px 73px;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.catalog-filter-group {
  width: 150px;
  margin: 0;
  padding: 0 81px 86px 72px;
  list-style-type: none;
}

.catalog-filters {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-list {
  padding: 0;
}

.button-use {
  margin: 0px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #83B3D3;
  border-radius: 4px;
  background: #83B3D3;
  width: 160px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
}

.button-reset {
  margin-top: 20px;
  color: #FFFFFF;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 160px;
  height: 23px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.hotel-card-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
  color: #000000;
  }

.hotel-card {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-big-picture {
  height: 120px;
}

.hotel-card-image {
  object-fit: contain;
}

.sector-first {
  padding-left: 37px;
  display: grid;
  grid-template-columns: auto 151px auto;
  grid-template-rows: repeat(3, auto)
}

.type-of-hotel {
  margin: 0;
  justify-self: start;
}

.price-hotel {
  margin: 0;
  justify-self: start;
}

.hotel-card-button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 151px;
  height: 37px;
  margin: 0px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #756257;
  border-radius: 4px;
  background: #756257;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
}

.hotel-card-select {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: start;
  width: 151px;
  height: 37px;
  margin: 0px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #83B3D3;
  border-radius: 4px;
  background: #83B3D3;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
}

.hotel-card-link {
  grid-column: 1 / -1;
  justify-self: start;
  text-decoration: none;
}

.sector-second {
  display: block;
  margin-left: auto;
}

.icon-rating {
  padding-bottom: 63px;
  justify-content: end;
}

.hotel-card-rating {
  margin: 0;
  width: 160px;
  height: 37px;
  margin: 0px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #F2F2F2;
  border-radius: 4px;
  background: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
}

.pagination-show-more {
  width: 625px;
  height: 55px;
  margin: 0px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #83B3D3;
  border-radius: 4px;
  background: #83B3D3;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  border: none;
}

.catalog-footer {
  display: flex;
  width: 1057px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  padding-top: 30px;
  margin: 0;
}

.pagination-item {
  margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  line-height: 26px;
  font-weight: 700;
  color: #F2F2F2;
  background-color: #83B3D3;
  text-decoration: none;
  text-align: center;
}

.number-of-pages {
  display: flex;
  margin-left: auto;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.number-of-pages-text {
  margin: 0;
  padding: 47px 51px 0 0; 
}

.select-box {
  padding-top: 34px;
}

.pagination-select-control {
  width: 160px;
  height: 48px;
}

.newsletter-bg {
  background-color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  background-image: none;
  display: block;
  margin: 0 auto;
}

.catalog-alse{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}