@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  position: relative;
  display: flex;
  column-gap: 140px;
  width: 1057px;
  margin: 0 auto;
  text-align: center;
}

.navigation-list {
  width: 50%;
  padding-left: 0px;
  padding-top: 19px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 0 -11px;
  text-align: center;
}

.navigation-link {
  position: relative;
  padding: 6px 12px 6px 12px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  border: 3px solid transparent;
  outline: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  border-radius: 10px;
  border: 3px solid #83B3D3;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-select::before {
  position: absolute;
  right: 10px;
  left: 10px;
  top: 51px;
  border: 1px solid #756257;
  background-color: #000000;
  content: "";
}

.navigation-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block;
  padding: 0;
  margin: auto;
  outline: none;
}

.navigation-user {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
}

.navigation-item-icon {
  position: relative;
  padding: 20px 0 23px 0;
}

.navigation-item-icon:not(:nth-child(1)) {
  padding: 20px 10px 23px 0;
}

.navigation-link-svg {
  position: relative;
  padding: 4px 16px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  border: 3px solid transparent;
  outline: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-icon:hover path {
  fill: rgba(117, 98, 87);
}

.navigation-link-svg:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.navigation-icon:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-icon-favorites {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-icon-favorites:hover path {
  fill: rgba(117, 98, 87);
}

.navigation-icon-favorites:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.number-favorites {
  position: absolute;
  top: -2px;
  left: 20px;
  width: 19px;
  height: 19px;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.5px;
  border-radius: 50%;
  background-color: #7DB54F;
}

.number-favorites:active {
  color: rgba(117, 98, 87, 0.3);
}

.popover {
  visibility: hidden;
  position: absolute;
  top: 61px;
  right: -170px;
  z-index: 10;
  box-sizing: border-box;
  width: 400px;
  height: 232px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #242424;
  background-color: #FFFFFF;
  min-height: 186px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  border-radius: 20px;
  border: 1px solid #E6E6E6;
}

.popover::before {
  position: absolute;
  top: -9px;
  right: 190px;
  width: 19px;
  height: 9px;
  padding: 0;
  background-image: url(../img/triangle-white.svg);
  background-repeat: no-repeat;
  content: "";  
}

.popover-content {
  position: relative;
  height: 100%;
}

.popover-items-list {
  padding: 0;
}

.popover-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 17px 0px 13px;
}

.popover-item:not(:nth-child(1)) {
  padding: 0px 17px 0px 13px;
}

.popover-item-link {
  display: flex;
  text-decoration: none;
  padding: 10px;
  color: #000000;
  background-color: #FFFFFF;
  border: 3px solid transparent;
  outline: none;
}

.popover-item-link:hover {
  color: rgba(117, 98, 87, 0.6);
  filter: opacity(0.6);
}

.popover-item-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.popover-item-link:active {
  color: rgba(117, 98, 87, 0.3);
  filter: opacity(0.3);
}

.hotel-card-image-small {
  border-radius: 24px;
  padding-right: 17px;
}

.popover-item-card {
  position: relative;
  width: 180px;
  height: 48px;
}

.popover-item-title {
  text-align: left;
  padding: 0px;
  margin-top: -7px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.popover-item-price-type {
  text-align: left;
  padding: 0px;
  margin-top: -37px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

.trash {
  margin-top: 11px;
  padding: 2px 0 0 5px;
  width: 36px;
  height: 36px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.trash path {
  fill: rgba(131, 131, 131, 0.4);
}

.trash-svg:hover path {
  fill: rgba(0, 0, 0);
}

.trash:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.trash-svg:active path {
  fill: rgba(131, 131, 131, 0.2);
}

.button-all {
  padding-top: 12px;
  margin-left: -1px;
}

.button-all-favorites {
  width: 400px;
  padding-top: 18px;
  padding-bottom: 16.5px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #756257;
  border-radius: 0px 0px 20px 20px;
  background: #756257;
  border: 3px solid transparent;
  outline: none;
}

.button-all-favorites:hover {
  background: #615048;
}

.button-all-favorites:focus {
  border: 3px solid #83B3D3;
  border-radius: 0px 0px 20px 20px;
}

.button-all-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-item-user {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 12px;
  width: 160px;
  height: 37px;
}

.navigation-link-user {
  display: inline-block;
  width: 154px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #756257;
  border-radius: 4px;
  background: #756257;
  border: 3px solid transparent;
  outline: none;
}

.navigation-link-user:hover {
  background: #615048;
}

.navigation-link-user:focus {
  border: 3px solid #83B3D3;
}

.navigation-link-user:active {
  color: rgba(255, 255, 255, 0.3);
}

.field:focus {
  outline: 3px solid #83B3D3;
}

.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.welcome-wrapper {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 485px;
  color: #000000;
  background-color: #83B3D3;
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-sedona {
  padding-top: 51px;
}

.line {
  padding-top: 22px;
  margin: 0;
}

.welcome-text {
  text-align: center;
  width: 1200px;
  padding-bottom: 79px;
  color: #000000;
  background-color: #83B3D3;
  background-image: url("../img/background-white.jpg");
}

.welcome-title {
  margin-top: auto;
  width: 720px;
  padding: 0px 240px;
  padding-top: 61px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.welcome-desc {
  text-align: center;
  width: 720px;
  padding: 0px 240px;
  padding-top: 33px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
}

.adventures-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #FFFFFF;
  background-color: #000000;
  background: #83B3D3;
}

.advantages-title {
  text-align: center;
  padding-top: 98px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-num {
  margin: 0;
  padding: 0px 75px;
  padding-top: 25px;
}

.advantages-description-img {
  margin: 0;
  padding: 31px 90px 77px 90px;
}

.adventures-list-first {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  color: #000000;
  background-color: #FFFFFF;
  list-style-type: none;
}

.adventures-list-first > :nth-child(1) {
  background: rgba(131, 179, 211, 0.12);
}

.adventures-list-first > :nth-child(2) {
  background: #FFFFFF;
}

.adventures-list-first > :nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}

.icon-house {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 89px;
  padding-bottom: 0;
}

.icon-food {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 91px;
  padding-bottom: 0;
}

.icon-souvenirs {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 85px;
  padding-bottom: 0;
}

.advantages-title-desc {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
  padding-top: 19px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advantages-desc {
  margin: 0;
  width: 250px;
  padding: 75px;
  padding-top: 20px;
  padding-bottom: 88px;
}

.adventures-list-second {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.adventures-list-second > :nth-child(1) {
  background: rgba(131, 179, 211, 0.12);
}

.adventures-list-second > :nth-child(2) {
  background: rgba(131, 179, 211, 0.2);
}

.adventures-list-second > :nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-description {
  margin: 0;
  width: 250px;
  padding: 75px;
  padding-top: 31px;
  padding-bottom: 110px;
}

.hotel-title {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 30px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-info {
  text-align: center;
  width: 720px;
  padding: 0px 240px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.5px;
}

.hotel-search-in-sedona {
  display: inline-block;
  width: 541px;
  margin-top: 57px;
  margin-bottom: 91px;
  padding: 10px 15px 9px 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -0.7px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-color: #756257;
  border-radius: 10px;
  background: #756257;
  border: 3px solid transparent;
  outline: none;
}

.hotel-search-in-sedona:hover {
  background: #615048;
}

.hotel-search-in-sedona:focus {
  border: 3px solid #83B3D3;
}

.hotel-search-in-sedona:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter {
  display: block;
  margin: 0 auto;
  width: 1200px;
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../img/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  text-align: center;
  padding: 90px 240px 30px 240px;
  margin: 0px;
  width: 720px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-text {
  text-align: center;
  padding: 0 240px 48px 240px;
  width: 720px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
}

.newsletter-email {
  padding: 0 0 94px 200px;
  margin: 0;
}

.button-subscribe {
  display: inline-block;
  margin: 0px;
  width: 200px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  background: #83B3D3;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:focus {
  box-sizing: border-box;
  border: 3px solid #615048;
}

.button-subscribe:active {
  color: rgba(255, 255, 255, 0.3);
}

.field {
  width: 553px;
  height: 54px;
  padding: 0 19px 0 22px;
  border-radius: 10px 0px 0px 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;
  border-color: #F2F2F2;
  background: #F2F2F2;
  border: 3px solid transparent;
}

.field:hover {
  background: #E5E5E5;
}

.field:focus {
  outline:3px solid #83B3D3;
}

.field:not(:placeholder-shown) {
  outline: none;
  border-color: #000000;
}

.class-input:not(:focus):invalid {
  border: 2px solid #FF5757;
}

.class-input:invalid:not(:focus) {
  border: 2px solid #FF5757;
}

.newsletter-button {
  width: 200px;
  height: 60px;
  padding: 0 200px 61px 0;
}

.page-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 1057px;
  padding: 24px 0 20px 0;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.footer-social-list {
  display: flex;
  width: 350px;
  padding: 0;
  margin-right: auto;
  list-style-type: none;
  flex-wrap: wrap;
}

.footer-social-item {
  margin-right: 13px;
  margin-left: -10px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.button-twitter {
  padding: 5.5px 8px;
  border: 3px solid transparent;
  outline: none;
}

.button-twitter-svg:hover path {
  fill: #68A2CA;
}

.button-twitter:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.button-twitter-svg:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.button-facebook {
  padding: 5.5px 12px;
  border: 3px solid transparent;
  outline: none;
}

.button-facebook-svg:hover path {
  fill: #68A2CA;
}

.button-facebook:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.button-facebook-svg:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.button-youtube {
  padding: 6px 7.1px 5px 7.1px;
  border: 3px solid transparent;
  outline: none;
}

.button-youtube-svg:hover path {
  fill: #68A2CA;
}

.button-youtube:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.button-youtube-svg:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-address {
  width: 365px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

.footer-contacts-address-phone {
  display: block;
  padding: 12px;
  margin-left: -7px;
  margin-top: -5px;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid transparent;
  outline: none;
}

.footer-contacts-address-phone:hover {
  color: #756257;
}

.footer-contacts-address-phone:focus {
  box-sizing: border-box;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.logo-footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: -20px;
  margin-top: -5px;
  border: 3px solid transparent;
  outline: none;
}

.logo-html {
  margin-left: auto;
  width: 115px;
  height: 34px;
  padding: 0;
  padding: 18px 18px 18px 22px;
}

.logo-html:hover path {
  fill: #756257;
}

.logo-footer:focus {
  box-sizing: border-box;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.logo-html:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.modal-container {
  visibility: hidden;
  position: fixed;
  display: flex;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
}

.search-hotel {
  width: 715px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 57px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
  outline: none;
} 

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
}

.modal-close-button:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.close-svg {
  padding-top: 4px;
  padding-left: 1px;
}

.modal-title {
  margin: 0;
  padding: 32px 25px 58px 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-content {
  padding: 30px 70px 70px 70px;
}

.field-date-arrival::before {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 17px;
  right: 19px;
  background-image: url(../img/calendar.svg);
  content: "";
}

.search-form {
  position: relative;
  display: grid;
  grid-template-columns: 308px 288px;
  row-gap: 7px;
}

.search-form-field {
  width: 391px;
  padding: 2px 0 2px 19px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  background: #F2F2F2;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border: 3px solid transparent;
}

.search-form-field:hover {
  background: #E6E6E6;
}

.search-form-field:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.search-form-field:not(:placeholder-shown) {
  outline: none;
  border-color: #000000;
}

.search-form-field::placeholder {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.search-form-text {
  padding-left: 158px;
  margin-top: -8px;
  margin-bottom: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

.tittle-date-arrival {
  padding-right: 53px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.field-date-arrival {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: 0;
}

.tittle-date-exit {
  padding-right: 48px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.field-date-exit {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

.field-date-exit::before {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 107px;
  right: 19px;
  background-image: url(../img/calendar.svg);
  content: "";
}

.tittle-adults {
  padding-right: 71px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.minus {
  position: absolute;
  top: 192px;
  left: 170px;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 3px solid transparent;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.minus-svg {
  padding: 9px 0 8px 0;
}

.minus-svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.minus-svg:hover path {
  fill: black;
}

.minus:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.minus:active path {
  fill: rgba(0, 0, 0, 0.2);
}

.plus {
  position: absolute;
  top: 192px;
  left: 250px;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 3px solid transparent;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.plus-svg {
  padding: 3px 0 2px 0;
}

.plus-svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.plus-svg:hover path {
  fill: black;
}

.plus:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.plus:active path {
  fill: rgba(0, 0, 0, 0.2);
}

.minus-children {
  position: absolute;
  top: 192px;
  left: 453px;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 3px solid transparent;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.minus-children:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.plus-children:active path {
  fill: rgba(0, 0, 0, 0.2);
}

.plus-children {
  position: absolute;
  top: 192px;
  left: 538px;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 3px solid transparent;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.plus-children:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.plus-children:active path {
  fill: rgba(0, 0, 0, 0.2);
}

.tooltip-children {
  position: absolute;
  top: 191px;
  left: 393px;
}

.tittle-children {
  margin: 0;
  padding-top: 3px;
  padding-left: 37px;
  padding-right: 48px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.number-adults {
  text-align: center;
  width: 127px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
  background: #F2F2F2;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.number-children {
  text-align: center;
  width: 127px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
  background: #F2F2F2;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.number-adults::-webkit-outer-spin-button,
.number-adults::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.number-children::-webkit-outer-spin-button,
.number-children::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-bottom {
  padding-top: 40px;
}

.modal-bottom-search {
  width: 575px;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-color: #83B3D3;
  border-radius: 10px;
  background: #83B3D3;
  border: none;
  cursor: pointer;
  border: 3px solid transparent
}

.modal-bottom-search:hover {
  background: #68A2CA;
}

.modal-bottom-search:focus {
  border: 3px solid #756257;
  background: #68A2CA;
}

.modal-bottom-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.tooltip {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: #83B3D3;
  border-radius: 50%;
  border: none;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  text-align: left;
  top: 40px;
  left: -114px;
  padding: 22px 23px 22px 23px;
  margin: 0;
  width: 209px;
  z-index: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-children:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text::before {
  position: absolute;
  top: -9px;
  right: 119px;
  width: 19px;
  height: 9px;
  padding: 0;
  background-image: url(../img/triangle.svg);
  background-repeat: no-repeat;
  content: "";  
}

.tooltip::before {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 1px;
  height: 9px;
  padding: 0;
  background-image: url(../img/info.svg);
  background-repeat: no-repeat;
  content: "";
}

/*  Стили каталога  */

.main-inner {
  width: 1057px;
  margin: 0 auto;
}

.catalog-filters-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filters-form > :nth-child(1) {
  width: 217px;
}

.sorting-title {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 38px;
  margin: 0;
}

.sorting-found-hotel {
  width: 360px;
  margin: 0;
  padding-right: 168px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
}

.sorting-type {
  position: relative;
  padding-right: 81px;
}

.sorting-select-control {
  padding-left: 13px;
  width: 287px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  cursor: pointer;
}

.sorting-select-control:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.sorting-select-control:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.sorting-select-control:active {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.3);
}

.view {
  position: relative;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
}

.view > :not(:last-child) {
  padding-right: 8px;
}

.button-cards {
  padding: 10.6px 22.1px 10px 22px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-cards:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.button-cards:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.button-cards:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.svg-cards {
  position: absolute;
  left: 16px;
  top: 3px;
}

.button-big-cards {
  padding: 10.6px 22.1px 10px 22px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-big-cards:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.button-big-cards:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.button-big-cards:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.svg-big-cards {
  position: absolute;
  left: 72px;
  top: 3px;
}

.button-list {
  padding: 10.6px 22.1px 10px 22px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.svg-list {
  position: absolute;
  left: 129px;
  top: 3px;
}

.inner-header {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 408px;
  color: #000000;
  background-color: #83B3D3;
  background-image: url("../img/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  position: relative;
  padding: 30px 601px 0px 72px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

.breadcrumbs {
  position: relative;
  display: flex;
  padding: 0 1016px 45px 70px;
  margin: 0;
  height: 20px;
  list-style-type: none;
}

.breadcrumbs-item-home {
  display: flex;
  padding-right: 3px;
  margin: 0;
  margin-left: -5px;
}

.breadcrumbs-item {
  padding-right: 11px;
  margin: 0;
  margin-left: -7px;
}

.breadcrumbs-link-home {
  display: inline-block;
  margin-top: -1px;
  border: 3px solid transparent;
  outline: none;
}

.breadcrumbs-link-home {
  border: 3px solid transparent
}

.breadcrumbs-link-home:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  
}

.breadcrumbs-link {
  padding: 0 5.2px 1px 5.2px;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid transparent
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.home {
  width: 12px;
  height: 12px;
  padding: 3px 5px 2px 5px;
}

.home:hover {
  filter: opacity(0.6);
}

.breadcrumbs-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.arrow-svg {
  padding: 7px 10px 1px 4px;
}

.arrow-svg path {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(2) {
  margin: 0 0 0 -1px;
}

.catalog-filter-group:nth-child(3) {
  margin: 0 0 0 30px;
}

.catalog-filters {
  width: 1057px;
  margin: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
}

.catalog-filter-title {
  padding-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  list-style: none;
  padding-bottom: 13px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-infrastructure {
  position: absolute;
  top: 1px;
  left: 0;
  width: 15px;
  height: 14px;
  background-color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid transparent;
  outline: none;
}

.control-input[type="checkbox"]:checked + .control-infrastructure {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-infrastructure:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-infrastructure {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:active + .control-infrastructure {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-infrastructure-circle {
  position: absolute;
  top: 0px;
  left: 4px;
  width: 13px;
  height: 13px;
  background: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
}

.control-infrastructure-circle:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]:focus + .control-infrastructure-circle {
  border: 3px solid #83B3D3;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]:active + .control-infrastructure-circle {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:checked + .control-infrastructure-circle::before {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 11px;
  height: 11px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  width: 288px;
}

.range-wrapper-inputs {
  display: grid;
  position: relative;
  grid-template-columns: 143px 143px;
  margin: 0;
  font-size: 18px;
  line-height: 1.28;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-label {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  padding-right: 16px;
  border: 2px solid #fff;
  outline: none;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.catalog-filter-label:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:focus-within {
  box-shadow: 0px 0px 0px 3px #81b3d2, inset 0px 0px 0px 3px #81b3d2;
}

.catalog-filter-label:active {
  background: #756257;
}

.catalog-filter-label:first-child {
  border-radius: 4px 0 0 4px;
  border-right-width: 0;
  margin-right: 2px;
}

.catalog-filter-label:last-child {
  position: relative;
  z-index: 1;
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}

.catalog-filter-input {
  width: 85px;
  padding: 11px 0 11px 19px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: transparent;
  outline: none;
  border: none;
  appearance: textfield;
}

.range-wrapper-inputs {
  width: 46px;
  padding-top: 5px;
}

.range-wrapper-inputs {
  -moz-appearance: textfield;
}

.range-wrapper-inputs::-webkit-outer-spin-button,
.range-wrapper-inputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range {
  padding-top: 27px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #999898;
}

.range-bar {
  position: absolute;
  width: 287px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid transparent;
  outline: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
} 

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-list {
  padding: 0;
  margin: 0;
}

.wrapper {
  padding-top: 60px;
  padding-left: 81px;
}

.button-use {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 160px;
  padding: 11px 0 11px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #83B3D3;
  border-radius: 4px;
  background: #83B3D3;
  color: #FFFFFF;
  cursor: pointer;
  border: 3px solid transparent;
}

.button-use:hover {
  background: #68A2CA;
}

.button-use:focus {
  border: 3px solid #FFFFFF;
}

.button-use:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset {
  display: flex;
  justify-content: center;
  padding-top: 13px;
}

.button-reset {
  width: 100px;
  margin: 0;
  padding: 4px 0 5px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: 3px solid transparent
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card {
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
  border-top: 1px solid #E6E6E6;
}

.catalog-list > :last-child {
  padding-bottom: 30px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card-link {
  grid-column: 1 / -1;
  justify-self: start;
  height: 31px;
  padding: 3px 10px 10px 15px;
  margin-left: -20px;
  margin-top: -10px;
  text-decoration: none;
  border: 3px solid transparent;
}

.hotel-card-title {
  grid-column: 1 / -1;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000000;
  border: 3px solid transparent;
}

.hotel-card-title:hover {
  color: #756257;
}

.hotel-card-link:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.hotel-card-title:active {
  color: rgba(117, 98, 87, 0.3);
}

.hotel-big-picture {
  width: 180px;
  height: 120px;
  border: 3px solid transparent;
  outline: none;
}

.hotel-card-image:hover {
  filter: opacity(0.3);
}

.hotel-big-picture:focus {
  border: 3px solid #83B3D3;
}

.hotel-card-image:active {
  filter: opacity(0.3);
}

.hotel-card-image {
  object-fit: contain;
}

.sector-first {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 33px 53px;
  column-gap: 8px;
  padding-left: 33px;
}

.type-of-hotel {
  justify-self: start;
  margin: 0;
}

.price-hotel {
  justify-self: start;
  margin: 0;
}

.hotel-card-button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: block;
  text-align: center;
  width: 151px;
  height: 28px;
  padding-top: 9px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #756257;
  border-radius: 4px;
  background: #756257;
  outline: 3px solid transparent;
  margin: 0px;
  color: #FFFFFF;
}

.hotel-card-button:hover {
  background: #615048;
  border-radius: 4px;
}

.hotel-card-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.hotel-card-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-select {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: block;
  text-align: center;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 8px;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #83B3D3;
  border-radius: 4px;
  background: #83B3D3;
  color: #FFFFFF;
  outline: 3px solid transparent;
  border: none;
}

.hotel-card-select:hover {
  background: #68A2CA;
  border-radius: 4px;
  outline: 1px solid #756257;
}

.hotel-card-select:focus {
  outline: 3px solid #756257;
}

.hotel-card-select:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-favorits {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: block;
  text-align: center;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 8px;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #7DB54F;
  border-radius: 4px;
  background: #7DB54F;
  color: #FFFFFF;
  outline: 3px solid transparent;
  border: none;
}

.hotel-card-favorits:hover {
  background: #6C9E42;
}

.hotel-card-favorits:focus {
  outline: 3px solid #756257;
}

.hotel-card-favorits:active {
  color: rgba(255, 255, 255, 0.3);
}

.sector-second {
  margin-left: auto;
  width: 160px;
}

.icon-rating {
  display: flex;
  justify-content: center;
}

.icon-rating-img {
  padding-top: 5px;
  padding-bottom: 62px;
}

.hotel-card-rating {
  margin-left: auto;
  width: 160px;
  height: 37px;
  margin: 0px;
  border-radius: 4px;
  border-color: #F2F2F2;
  background: #F2F2F2;
}

.text-rating {
  text-align: center;
  padding: 9px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.pagination-show-more {
  width: 625px;
  height: 55px;
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #83B3D3;
  border-radius: 4px;
  background: #83B3D3;
  border: none;
  cursor: pointer;
}

.pagination-show-more:hover {
  background: #68A2CA;
}
  
.pagination-show-more:focus {
  border: 3px solid #756257;
}
  
.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-footer {
  display: flex;
  width: 1057px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  padding: 0;
  padding-top: 30px;
  margin: 0;
  list-style-type: none;
}

.pagination-item {
  margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 55px;
  height: 55px;
  padding: 12px 20px;
  line-height: 26px;
  font-weight: 700;
  color: #F2F2F2;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
  border: 3px solid transparent;
}

.pagination-link-last {
  padding: 12px 15px;
}

.pagination-link-next {
  padding: 12px 16px;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  border: 3px solid #756257;
  background: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.number-of-pages {
  display: flex;
  margin-left: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.number-of-pages-text {
  margin: 0;
  padding: 47px 51px 0 0; 
}

.select-box {
  padding-top: 34px;
}

.pagination-select-control {
  width: 160px;
  height: 48px;
  padding-left: 17px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  cursor: pointer;
}

.pagination-select-control:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.pagination-select-control:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.pagination-select-control:active {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.3);
}

.newsletter-bg {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-image: none;
  background-color: #FFFFFF;
}

.newsletter-title-bg {
  text-align: center;
  padding: 61px 240px 5px 240px;
  margin: 0px;
  width: 720px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-bg {
  padding-top: 25px;
  padding-bottom: 47px;
}

.catalog-alse {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 27px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E6E6E6;
}